.ProductContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.ExploreMore {
    display: flex;
    flex-direction:column;
}

.ExploreMore > h1 {
    text-align: center;
    font-weight: "900";
    font-size: "40px";
    font-style: "italic";
}

.Product {
    color: white;   
    width: 15vw;
    height: 40vh;
}

.Product > h2{
    text-align: center;
    vertical-align: baseline;
}