.features {
    display: grid;
    grid-template-columns: 60vw 40vw;
    border-bottom: 1px solid #d6d6d6
    
}

.grid-item-1 {
    grid-row: span 2;
    border-right: 1px solid #d6d6d6;
}

.grid-item-2 {
    grid-row : span 1;
    border-bottom: 1px solid #d6d6d6
}

.grid-item-3 {
    grid-row : span 1;
    
}