
.Navbar { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 30px;
    color: white;
    background-color: black
}

.navbar-main {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.navbar-element{
    padding: 15px;
    font-weight: 900;
   
}

.MenuIcon {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.MenuIcon:hover {
    color: #F6F930;
    cursor: pointer;
    transition: 1s;
}

.navbar-element:hover {
    color: #F6F930;
    cursor: pointer;
    transition: 1s;
}

.navbar-element > h3 {
    margin: 0;
}